@import "../../../static/css/colors";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  &__exit {
    font-size: 1rem;
    padding: 7px 20px;
    background: @red;
    border: none;
    color: @white;
    border-radius: 3px;
    transition: transform 0.1s, background 0.3s;
    &:hover {
      background: @red-dark;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  &__lang-wrap {
    background: @white;
    height: 32px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    position: relative;
  }

  &__lang-flag {
    height: 20px;
    border: 1px solid @gray-light;
  }

  &__lang-arrow {
    height: 5px;
  }

  &__lang-checker {
    position: absolute;
    top: 35px;
    right: 0;
    background: @white;
    display: flex;
    gap: 1px;
    flex-direction: column;
    padding: 3px;
    border-radius: 3px;
    z-index: 1;
    &_none {
      display: none;
    }
  }

  &__lang-item {
    height: 20px;
    border: 1px solid @gray-light;
    &:hover {
      border: 1px solid @blue;
      cursor: pointer;
    }
  }
  &__left {

  }
  &__right {
    display: flex;
    gap: 10px;
  }
}